.modal_content_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #61876E;
    border-radius: 20px;
    padding: 20px;
    min-width: 30%;
}

.addtask_form {
    padding: 20px 0px;
}

.form_control {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin: 18px 0px;
}

form label {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.form_control input,
textarea {
    width: 100%;
    border: 2px solid #3C6255;
    outline: none;
    border-radius: 8px;
    font-weight: 400;
    color: #444;
    font-size: 18px;
    padding: 10px 8px;
}

.task_btn {
    width: 100% !important;
    border-radius: 20px !important;
    background-color: #3C6255 !important;
    color: #fff !important;
    /* margin: 14px 0px !important; */
}

.sub_task_control {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
    align-items: center;
}



.sub_task_control input {
    flex: 2;
    border: 2px solid #3C6255;
    outline: none;
    border-radius: 8px;
    font-weight: 400;
    color: #444;
    font-size: 16px;
    padding: 10px 8px;
}

.sub_task_control {
    margin: 10px 0px;
}

.form_control select {
    padding: 10px 8px;
    border: 2px solid #3C6255;
    outline: none;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .modal_content_box {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .modal_content_box {
        width: 30%;
    }
}